* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

a {
    color: inherit;
}


html {
    scroll-behavior: smooth;
}

html {
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;   
    /* line-height: 1.6; */
    font-size: 16px;
    max-width: 100%;
    font-weight: 400;
    color: #333;
}

.page {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    gap: 50px;
    width: 100%;
}

article {
    flex: 1;
    min-width: 0;
}

.h1-main-title {
    margin-bottom: 20px;
    line-height: 50px !important;
}

.logo-container {
    margin-bottom: 20px;
    line-height: 50px;

}

/* =========================
           TOC
           ========================= */

.toc-container {
    width: 200px;
    flex-shrink: 0;

    position: sticky;
    top: 0px;
    align-self: flex-start;
    font-size: 0.9rem;
    /* min-width: 200px; */
    flex-basis: calc((95vw - 800px) /2);
    padding-top: 50px;
}

.toc-inner {
    border-left: 1px solid #ddd;

}

.toc ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

}

.toc ul ul a {
    padding-left: 25px;
}

.toc li {
    margin: 2px 0;
}

.toc a {
    display: block;

    padding: 0 10px;

    border-left: 2px solid transparent;

    color: #222;
    text-decoration: none;

    transition:
        color 0.15s,
        border-color 0.15s;
}

.toc a:hover {
    color: #000;
}

/* Active heading */
.toc a.active {
    color: #2563eb;
    border-left-color: #2563eb;
}


/* =========================
           Markdown
           ========================= */

article a {
    color: #2563eb;
}

.broken-link {
    color: #888;
}

pre {
    overflow-x: auto;
    padding: 15px;
    background: #f5f5f5;
}

code {
    font-family: monospace;
}

img {
    max-width: 100%;
}




/* Header */

.site-header {
    background: #ecf0f1;
    font-family: "Raleway", sans-serif;

}

.site-header .container {
    min-height: 70px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 15px;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    color: #2563eb;
    font-family: 'Raleway', sans-serif;
}

.site-title {
    color: #666;
    font-size: 1rem;
}


/* Main */




/* Footer */

.site-footer {
    background: #ecf0f1;
    border-top: 1px solid #d5dadd;
    color: #777;
    font-size: 0.85rem;
}

.site-footer .container {
    min-height: 60px;
    display: flex;
    align-items: center;
}


/* Mobile */
@media (max-width: 1000px) {
    .toc {
        display: none
    }
}

@media (max-width: 600px) {
    .container {
        width: min(100% - 24px, 1200px);
    }

    .site-header .container {
        min-height: 60px;
    }
}


/* =========================================================
   Knowledge layout
   ========================================================= */


/* =========================================================
   File sidebar
   ========================================================= */

main {
    display: flex;
}

.page {
    flex: 1;
}

.file-sidebar {
    position: sticky;
    top: 0;
    align-self: start;
    height: 100dvh;
    /* height: calc(100vh - 40px); */

    overflow-y: auto;
    border-right: 1px solid #ddd;
    /* padding-left: 80px; */
    padding-right: 20px;
    padding-top: 50px;
    padding-left: 20px;
    flex-basis: calc((95vw - 800px) / 2);
    background: #ecf0f1;

}

.file-sidebar-inner {
    max-width: 290px;
    margin-left: auto;
}

.sidebar-title {
    margin-bottom: 12px;

    color: #222;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.08em;
}


.file-tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

.file-tree ul {
    list-style: none;
    margin: 0;
    padding-left: 18px;
}


/* Folder */

.file-tree details {
    margin: 0;
}

.file-tree summary {
    padding: 6px 0px;

    cursor: pointer;
    list-style: none;

    color: #222;
    font-size: 0.95rem;
}

.file-tree summary::-webkit-details-marker {
    display: none;
}

.folder-icon {
    display: inline-block;
    width: 16px;

    color: #222;
    font-size: 0.75rem;
}


/* Files */

.file-tree a {
    display: block;

    padding: 4px 6px 4px 25px;

    color: #444;
    text-decoration: none;
    border-left: 1px solid #ddd;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.file-tree a:hover {
    /* background: #e2e6e7; */
    color: #000;
    border-left: 1px solid #2563eb;

}

.file-tree a.active {
    color: #2563eb;
    border-left: 1px solid #2563eb;
}

.file-icon {
    display: inline-block;
    width: 16px;

    color: #999;
    font-size: 0.45rem;
    vertical-align: middle;
}

.sidebar-toggle {
    position: fixed;
    top: 85px;
    left: 12px;
    z-index: 1000;

    width: 32px;
    height: 32px;

    padding: 0;

    border: 1px solid #d5dadd;
    background: #ecf0f1;

    color: #555;
    font-size: 16px;

    cursor: pointer;
}

.sidebar-toggle:hover {
    background: #e2e6e7;
}


/* Sidebar hidden */

.knowledge-layout.sidebar-hidden {
    grid-template-columns: minmax(0, 1fr) 240px;
}

.knowledge-layout.sidebar-hidden .file-sidebar {
    display: none;
}


/* When sidebar is visible, button sits over it */

.knowledge-layout:not(.sidebar-hidden) .sidebar-toggle {
    left: 250px;
}



.overlay {
    display: none;
}

.overlay.visible {
    display: none;
}

/* Mobile */

@media (max-width: 1300px) {
    .toc-container {
        display: none;

    }

    .file-sidebar {
        flex-basis: calc(100vw - 840px)
    }
}

@media (max-width: 1250px) {
    .page {
        padding: 50px 20px;
    }
}

.mobile-header {
    display: none;
}

@media (max-width: 1100px) {
    .mobile-header {
        display: flex;
        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        height: 52px;

        align-items: center;

        padding: 0 14px;

        background: #ecf0f1;
        border-bottom: 1px solid #ddd;

        z-index: 900;
    }

    .menu-button {
        display: flex;

        width: 34px;
        height: 34px;

        padding: 7px 6px;

        flex-direction: column;
        justify-content: space-between;

        background: #fff;
        border: 1px solid #ccc;

        cursor: pointer;
    }

    .menu-button span {
        display: block;

        width: 100%;
        height: 2px;

        background: #222;
    }

    .menu-button:hover {
        background: #f5f5f5;
    }
}

@media (max-width: 1100px) {
    .file-sidebar {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.1s;
        width: 75%;
        z-index: 2;
        overflow-y: scroll;
        top: 0;
        /* height: 100lvh; */
        height: 100%;   
    
    }

    .sidebar-visible {
        transform: translateX(0%);
    }

    .overlay {
        background-color: #444;
        opacity: 0.5;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        /* height: 100lvh; */
        z-index: 1;
        height: 100%;
    }

    .overlay.visible {
        display: block;
    }
    .page {
        margin-top: 20px;
    }
}

.sidebar-hidden.file-sidebar {
    display: none;
}