<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Связь 11 — База знаний{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='markdown.css') }}"
    >


    {% block head %}{% endblock %}
</head>

<body>
    
<div class="mobile-header">
    <button class="menu-button" onclick="showSidebar()" aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
    </button>
    
</div>

<div class = "overlay"></div>

<main>
    {% block content %}{% endblock %}
</main>


{% block scripts %}{% endblock %}
<script>
MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
};
</script>
<script>
function showSidebar() {
    const sidebar = document.querySelector(".file-sidebar");
    const overlay = document.querySelector(".overlay");

    sidebar.classList.toggle("sidebar-visible");
    overlay.classList.toggle("visible");
}

document.querySelector(".overlay").addEventListener("click", function () {
    document.querySelector(".file-sidebar").classList.remove("sidebar-visible");
    this.classList.remove("visible");
});
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>